/*header style*/
html{
    font-size: 12px;
    background-color: #f8f0f9;
}
body {
    margin: 0;
}

*{
    box-sizing: border-box;
}

.clearfix::after {
    content:" ";
    clear: both;
    display: block;
}

.topbar {
    height: 70px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo-container, .filter-container {
    width: 25%;
}

.title-container {
    width: 50%;
}

.filter-container, .title-container, .logo-container {
    float: left;
    position: relative;
    height: 100%;
}

.home-button, .title, .filter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo {
    border: 2px solid black;
    border-radius: 50%;
    width: 64px;
}

.logo:hover, .fa-filter {
    cursor: pointer;
}

.fa-filter {
    color: #6f6f6f;
}

.title {
    font-family: 'Limelight', cursive;
    font-size: 3.5rem;
}

@media only screen and (min-width : 480px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (min-width : 839px) {
    html {
        font-size: 12.5px;
    }
}

@media only screen and (min-width : 1114px) {
    html {
        font-size: 13px;
    }
}