/*body tiles styling*/
.tiles {
    margin-top: 100px;
}

.tiles .panel:hover {
    box-shadow: 5px 5px 10px 3px #848484;
}

.panel-default>.panel-heading, .panel-footer {
    background-color: white;
}

.author-img {
    border: 1px solid black;
    height: 95px;
    width: 95px;
}

.details {
    font-family: 'Merriweather', serif;
}

.tiles .panel-body {
    font-family: 'Slabo 27px' , serif;
    font-size: 1.5rem;
}

.tiles .panel-footer {
    font-family: 'Merriweather' , serif;
    font-size: 1.5rem;
}

.tiles .panel-body {
    max-height: 150px;
    overflow: hidden;
}

.panel-heading .artTitle {
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}
