/*header style*/

html, body{
    background-color: #f8f0f9;
}

.page-header {
    background-color: white;
    margin: 0 0 20px 0;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.logo {
    border: 2px solid black;
    width: 70px;
}

.logo:hover {
    border: 4px solid #9e9e9e;
}

.fa-filter {
    color: #6f6f6f;
}

.title {
    font-family: 'Limelight', cursive;
    font-size: 4.5rem;
}

.filter-container {
    position: fixed;
    top: 75px;
    right: 0;
    width: 300px;
    z-index: 100;
    background: #f9f9f9;
    height: calc(100vh - 75px);
    overflow: scroll;
}

.tree, .tree ul {
    list-style: none;
    margin: 0 0 0 1em;
    padding: 0;
}

.tree ul {
    margin-left: 2em;
    position: relative;
}

.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 1px solid;
    bottom: 10px;
}

.tree li {
    margin: 0;
    padding:0 1em;
    line-height:1.75em;
    font-size: 1.5rem;
    font-weight:700;
    position: relative;
}

.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}

.tree li:hover {
    font-size: 1.75rem;
    font-weight: 800;
    cursor: pointer;
}